body {
    background-color:rgb(14, 71, 79);
}
.box{
    background-color: rgb(158, 21, 21);
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 10px;
    padding: 10px;
    
}